thead {
    --bs-table-bg: #3B5EAB;
    --bs-table-color: white;
}

table.rounded-corners {
    border-radius: 10px;
    overflow: hidden;
}

td {
    vertical-align: middle !important; /* Ensure all td elements have middle alignment */
}

.row-action-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    margin: 0; /* Ensure buttons have no margin */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table-controllers {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 15px;
    width: 100%;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.search-container {
    width: auto;
}

tbody tr {
    transition: all 0.35s ease-in-out;
}

tbody tr:hover {
    --bs-table-bg: #7695d842 !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 9000;
}
